.Button {
  color: rgb(31, 156, 31);
  border: 1px solid rgb(31, 156, 31);
  width: 18%;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  background-color: honeydew;
  margin-top: 10px;
}

.Button:hover,
.Button:active {
  color: white;
  background-color: rgb(31, 156, 31);
}

.Button:disabled {
  color: black;
  cursor: not-allowed;
  background-color: white;
}
